@model Cinema.ViewModels.BuyTicketViewModel

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "_Layout";
}
<!DOCKTYPE html>
    <link rel="stylesheet" href="~/css/Create.css" />
    <html lang="en">
    <body>

        @*<hr class="hr-shadow">
            <style>
                .hr-shadow {
                    background: #00ff90;
                    margin: 20px 0;
                    margin-top: 50px;
                    height: 3px;
                    border: none;
                    border-top: 1px solid #333;
                    box-shadow: 0 10px 10px -10px #8c8b8b inset;
                }
            </style>*@


        <div class="container_ticket ">
            <div class="film_ticket justify-content-center">
                <div class="film_content_ticket">
                    <div class="film_img_ticket">
                        <img src=@Model.Session.Film.ImageUrl mode alt="" width="200" height="300">
                    </div>
                    <div class="film_info_ticket">
                        <div class="film_name_ticket">@Model.Session.Film.Name  </div>
                        <div class="film_start_ticket">@Model.Session.Start</div>
                        <div class="film_name_ticket">@Model.Session.Price Грн</div>
                    </div>
                </div>
            @*</div>*@

            <div class="col-md-4">
                <form asp-action="Create">
                    <div class="form-group">
                        <label class="control-label"> Select Place</label>
                        <select asp-for="SelectPlaceId" asp-items="@Model.Places">
                            <option disabled="disabled">Please select one</option>
                        </select>
                        <div class="form-group">
                            <input type="hidden" asp-for="Session.Id" value="@Model.Session.Id" />
                            <input type="hidden" asp-for="Session.Price" value="@Model.Session.Price" />
                        </div>
                        <label class="control-label"> Select payment</label>
                        <select asp-for="SelectPayment" name="MyList" > 
                            <option disabled="disabled">Please select one</option>
                            <option name ="buy" value="1" accesskey=" ">Придбати квиток</option>
                            <option name ="booking" value="0">Забронювати квиток</option>
                        </select>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
                <a class="bck" asp-area="" asp-controller="Session" asp-action="Info" asp-route-id="@Model.Session.Id">Back to List</a>
            </div>
            </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </div>
    </body>
</html>
