@model IEnumerable<Cinema.Data.Models.Session>

@*@{
    ViewData["Title"] = "Index";
}*@

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Film.Name)
                @Html.DisplayFor(modelItem => item.Film.Description)
                @Html.DisplayFor(modelItem => item.Film.Studio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td> |
                <a asp-action="Details" asp-controller="Film" asp-route-id="@item.Film.Id">Film Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Buy Ticket</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<!DOCKTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title>SpaceX</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_iner">
                    <div class=" logo">
                        <a href="https://localhost:44332" class="text">SpaceX</a>
                    </div>
                    <nav class="nav">
                        <a class="nav_link" href="https://localhost:44332/User/Users">Пользователь </a>
                        <a class="nav_link" href="https://localhost:44332/Cashier/Cashier">Касир </a>
                        <a class="nav_link" href="https://localhost:44332/Usher/Usher">Капельдинер </a>
                    </nav>
                </div>
            </div>
        </header>
        <hr class="hr-shadow">
        <style>
            .hr-shadow {
                background: #00ff90;
                margin: 20px 0;
                margin-top: 50px;
                height: 3px;
                border: none;
                border-top: 1px solid #333;
                box-shadow: 0 10px 10px -10px #8c8b8b inset;
              
            }
        </style>
        <div></div>
        <div class="films">
            <div class="container">
                <div class="intro_text">Фільми у прокаті: </div>
                <div class="film_item1">
                    @foreach (var item in Model)
                    {
                        <div class="film_item">
                            <img src=@Html.DisplayFor(modelItem => item.Film.ImageUrl) mode alt="" width="387" height="600">
                            <div class="film_content">
                                <div class="film_name">
                                    @*<a class="text">@Html.DisplayFor(modelItem => item.Film.Name)</a>*@
                                    <a class="text" asp-action="Info" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Film.Name)</a> 
                                </div>
                                @*<div class="film_date">@Html.DisplayFor(modelItem => item.Film.ReleaseDate)</div>*@

                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - Cinema 
            </div>
        </footer>
    </body>
</html>
