@model Cinema.Data.Models.Session

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "_Layout";
}
<!DOCKTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/Info.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>SpaceX</title>
    </head>
    <body>
        @*<div class="container">*@
        <div class="container_film">

            <div class="film_full_img">
                <img class="img" src=@Model.Film.ImageUrl mode alt="" width="280" height="450">
            </div>
            <div class="film_description">
                <div class="film_description_name"> @Html.DisplayFor(model => model.Film.Name)</div>
                <div class="film_full_info">
                    <ul class="movie_credentials">
                        <li class="rating">
                            <p class="key">Дата реліза:</p>
                            <p class="val">@Html.DisplayFor(model => model.Film.ReleaseDate)</p>
                        </li>
                        <li>
                            <p class="key">Жанр:</p>
                            <p class="val">
                                @foreach (var item in Model.Film.Genres)
                                {
                                    @Html.DisplayFor(modelItem => item.Name)
                                }
                            </p>
                        </li>
                        <li>
                            <p class="key">Режисер:</p>
                            <p class="val">@Html.DisplayFor(model => model.Film.Director)</p>
                        </li>
                        <li>
                            <p class="key">Студія:</p>
                            <p class="val">@Html.DisplayFor(model => model.Film.Studio)</p>
                        </li>
                    </ul>

                    <div class="movie_description">

                        <p>@Html.DisplayFor(model => model.Film.Description)</p>
                    </div>

                </div>
                <div class="buy_ticket">
                    <a asp-area="" asp-controller="Ticket" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-success" >Отримати Квиток</a>
                    @*<a asp-action="Index">Back to List</a>*@
                </div>

            </div>
          
        </div>
        @*</div>*@


    </body>
</html>
